body {
  background: #ececec;
  color: #111111;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.4em;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #e5e5e5; 
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.turbo-progress-bar {
  height: 4px;
  background-color: #ffa801;
}

h3 {
  font-size: 1em;
  display: block;
}

h4 {
  font-size: 1em;
  display: block;
}

p {
  clear: both;
}

a {
  color: #111111;
}

h1 {
  clear: both;
  font-size: 1.8em;
  line-height: 1.1em;
}

h1 a {
  text-decoration: none;
  font-size: 1em;
  line-height: 1em;
  color: #111111;
}

ol, ul {
  padding: 0 1.14em;
}

li {
  padding: 0 0.5em;
}

details {
  padding: 0em 0.5em 0.5em 0em;
}

details p {
  padding: 4px;
}

details table {
  margin-left: 15px; 
}

details, summary {
  outline: none;
  overflow: auto;
  width: 100%;
}

summary {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #111111;
}

th, td {
  padding: 0.5em;
}

td img {
  vertical-align: middle;
}

pre::-webkit-scrollbar,
code::-webkit-scrollbar,
details::-webkit-scrollbar,
summary::-webkit-scrollbar {
  height: 2px;
}

pre {
  overflow: auto;
  margin-top: 0.8em;
  margin-bottom: 1em;
  padding-left: 4px;
  font-size: 0.7em;
  background: white;
  border: 1px solid lightgray;
  border-radius: 3px;
  cursor: pointer;
}

code {
  overflow: auto;
  background: #f8f8f8;
  border-radius: 3px;
  border: 1px solid grey;
  padding: 0.025em;
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  tab-size: 2;
}

pre:hover {
  background: #fafafa;
}

pre:active {
  background: #f5f5f5;
}

code:hover {
  background: #fafafa;
}

code:active {
  background: #f5f5f5;
}

.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

iframe {
  border: 0;
}

.base {
  width: 100%;
  height: auto;
  clear: both;
  margin: 0 auto;
  padding-bottom: 4em;
  overflow: hidden;
  background: #fff;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.header {
  padding: 20px 20px 10px 20px;
  border-radius: 4px;
  background: linear-gradient(270deg, #1e272e 0%, #343C42 100%);
}

.logo {
  display: block;
  margin: 0 auto;
}

.big-links {
  text-align: center;
  margin-top: 20px;
}

.big-links a {
  margin-right: 14px;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
}

.big-links a:hover {
  color: #ffffff90;
}

.middle {
  padding: 10px;
}

.footer {
  height: 30px;
}

.floating-link-panel {
  display: block;
  background-color: #FFFFFF;
  margin: 0px auto 10px auto;
  width: 100%;
  font-size: 0.9em;
  max-width: 580px;
  padding: 15px;
  border-radius: 7px;
  text-align: center;
  box-shadow: rgba(9, 30, 66, 0.45) 0px 1px 1px, rgba(9, 30, 66, 0.25) 0px 0px 1px 1px;
  text-decoration: none;
}

.floating-link-panel:hover {
  background-color: #FBFBFB;
  cursor: pointer;
}

.floating-link-panel:first-child {
  margin-top: 10px;
}

.date {
    font-size: 0.8721em;
    color: #656565;
    margin-top: -1em;
}

.refs {
    margin: 1em 0 0.2em 0;
    width: 100%;
    font-size: 1.4em;
    color: #676767;
}

.link-icon {
  width: 55px;
  vertical-align: middle;
}

.project-logo, .article-logo {
  width: 120px;
  height: 120px;
  display: block;
  margin-left: 0em;
  margin-bottom: 1em;
  vertical-align: middle;
  clear: both;
}

img:not(.logo):not(.photo):not(.project-logo):not(.article-logo):not(.youtube-video):not(.link-icon):not(.left-to-link) {
    width: 100%;
    height: auto;
}

.youtube-iframe {
  width: 100%;
  aspect-ratio: auto 1.78;
  border-radius: 20px;
  margin-top: 30px;
}

@media only screen and (min-width: 700px) {
  .base {
    width: 780px;
    font-size: 1.2em;
  }
  .menu {
    font-size: 1.2em;
  }
  .content {
    font-size: 1.2em;
  }
  pre {
    font-size: 0.734em;
  }
  .project-logo {
    float: right;
    margin-left: 2em;
    margin-bottom: 0.5em;
  }
  .article-logo {
    float: left;
    margin-right: 1em;
    margin-bottom: 0;
  }
  img:not(.logo):not(.photo):not(.project-logo):not(.article-logo):not(.youtube-video):not(.link-icon):not(.left-to-link) {
    width: 100%;
  }
}
s